.MyPage {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MypageSub {
  width: 100%;
  height: 100%;
  background-color: white;
}

.userInfo {
  width: 100%;
  height: 15%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.userSub {
  width: 80%;
}

.userImg {
  width: 100px;
  height: 100px;

  object-fit: cover;
  border: 2px solid #c1c1c1;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
  object-fit: cover;

  background-color: blueviolet;
}

.userName {
  width: 100%;
  height: 50%;
  margin-bottom: 5px;
  font-size: 15px;
}

.userBtn {
  width: 100%;
  height: 50%;
}

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.sidebar button {
  flex-grow: 1;
  height: 50px;
  margin-right: 5px;
  border: none;
  background-color: white;
  color: #333333;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}

.sidebar button.active {
  border-bottom: 4px solid #FF7E36;
  color: #FF7E36;
}


.category {
  width: 100px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-color: rgb(158, 27, 27);
}

.userBtn button {
  width: 15%;
  height: 30px;
  border: none;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c6c6c6;
  border-radius: 7px;
}

.userBtn button:hover {
  background-color: rgb(129, 134, 203);
}
