.UploadPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UploadTitle {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  margin-top: 30px;
}

.UploadContent {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 5px;
}

label {
  font-size: 16px;
  font-weight: 500;
}

input, select {
  font-size: 15px;
  font-weight: 400;
  color: #262626;
  padding: 10px;
  border-radius: 6px;
}

#content {
  height: 100px;
}

form div {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center; /* label과 input을 세로로 정렬 */
  margin-bottom: 20px; /* 각 div 박스 사이의 간격 */
}

form div label {
  text-align: left; /* label 텍스트를 왼쪽 정렬 */
  padding-right: 10px; /* label과 input 사이의 간격 */
}

form div input[type="number"],
form div input[type="datetime-local"],
form div select {
  flex: none; /* 숫자, 날짜, select 요소가 flex 동작을 따르지 않도록 설정 */
}

.productUploadBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.productBtn {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 48px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  background-color: rgb(43, 5, 133);
  border-radius: 7px;
  color: rgb(255, 255, 255);
}

.productBtn:hover {
  background-color: rgb(129, 134, 203);
}